<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>All tasks</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/font_awesome/css/font_awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/Ionicons/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/iCheck/square/blue.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all_skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/morris.js/morris.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/jvectormap/jquery_jvectormap.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap_datepicker/dist/css/bootstrap_datepicker.min.css}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <a href="#" class="logo">
            <span class="logo-lg"><b>Dash</b>Bord</span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/dist/img/user2-160x160.jpg" class="user-image"/>
                            <span class="hidden-xs"
                                  th:text="${currentUser.userName}+' '+${currentUser.userSurname}"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="/dist/img/user2-160x160.jpg" class="img-circle"/>
                                <p th:text="${currentUser.userName}+' '+${currentUser.userSurname}"></p>
                                <p th:text="${qualification.qualificationName}+' '+${position.positionName}"></p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a th:href="@{profile/{id}(id=${currentUser.userId})}" class="btn btn-default btn-flat">My profile</a>
                                </div>
                                <div class="pull-right">
                                    <a th:href="@{/login}" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li>
                    <a th:href="@{/homePage}">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                        <span class="pull-right-container"></span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/allUsers}">
                        <i class="fa fa-dashboard"></i>
                        <span>Profiles</span>
                        <span class="pull-right-container"></span>
                    </a>
                </li>

            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            <section class="content container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3>
                                    <small style="color:#a31515; font-family: Times, serif; font-weight:bold;"
                                           th:if="${taskList.isEmpty()}" th:errors="*{taskList}">
                                    </small></h3>
                                <h3 class="box-title">All tasks</h3>
                                <div class="box-tools">
                                    <div class="input-group input-group-sm" style="width: 300px;">
                                        <input class="form-control" id="myInput" type="text"
                                               placeholder="Search.."/>
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default">
                                                <span class="glyphicon glyphicon-search"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body table-responsive no-padding">
                                <table id="example1" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Name</th>
                                        <th>Creator</th>
                                        <th>Executor</th>
                                        <th>Estimation date</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                <tbody id="myTable">
                                    <tr th:each="task:${taskList}">
                                        <th th:text="${task.id}"  style="font-weight: normal"></th>
                                        <th th:text="${task.taskName}"  style="font-weight: normal"></th>
                                        <th th:text="${task.creator.userName}+' '+${task.creator.userSurname}"
                                            style="font-weight: normal"></th>
                                        <th th:text="${task.executor.userName}+' '+${task.executor.userSurname}"
                                            style="font-weight: normal"></th>
                                        <th th:text="${task.estimation}" style="font-weight: normal"></th>
                                        <th th:text="${task.taskStatus.statusName}" style="font-weight: normal"></th>
                                        <th width="100">
                                            <button type="button" class="btn btn-primary btn-md">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                                <span>Edit</span>
                                            </button>
                                        </th>
                                        <th width="120">
                                            <button type="button" class="btn btn-primary btn-md">
                                                <span class="glyphicon glyphicon-trash"></span>
                                                <span>Delete</span>
                                            </button>
                                        </th>
                                        <th  width="100">
                                            <button type="button" class="btn btn-primary btn-md">
                                                <a th:href="@{task/{id}(id=${task.taskId})}"></a>
                                                <span class="glyphicon glyphicon-info-sign"></span>
                                                <span>Info</span>
                                            </button>
                                        </th>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>

<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/dist/js/demo.js}"></script>
<script th:src="@{/plugins/bootstrap_wysihtml5/bootstrap3_wysihtml5.all.min.js}"></script>
<script th:src="@{/bower_components/fastclick/lib/fastclick.js}"></script>
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>
  $(function () {
    $('#example1').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
<script th:src="@{jquery-3.2.1.min.js}"></script>
<script th:src="@{plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{plugins/datatables/dataTables.bootstrap.min.js}"></script>

</body>
</html>