<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Edit user</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/font_awesome/css/font_awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/Ionicons/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/iCheck/square/blue.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all_skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/morris.js/morris.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/jvectormap/jquery_jvectormap.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap_datepicker/dist/css/bootstrap_datepicker.min.css}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <a href="#" class="logo">
            <span class="logo-lg"><b>Dash</b>Bord</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/dist/img/user2-160x160.jpg" class="user-image"/>
                            <span class="hidden-xs"
                                  th:text="${currentUser.userName}+' '+${currentUser.userSurname}"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="/dist/img/user2-160x160.jpg" class="img-circle"/>
                                <p th:text="${currentUser.userName}+' '+${currentUser.userSurname}"></p>
                                <p th:text="${qualification.qualificationName}+' '+${position.positionName}"></p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a th:href="@{profile/{id}(id=${currentUser.userId})}"
                                       class="btn btn-default btn-flat">My profile</a>
                                </div>
                                <div class="pull-right">
                                    <a th:href="@{/login}" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li>
                    <a th:href="@{/homePage}">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                        <span class="pull-right-container"></span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/allUsersPage}">
                        <i class="fa fa-dashboard"></i>
                        <span>Profiles</span>
                        <span class="pull-right-container"></span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/allProjectsPage}">
                        <i class="fa fa-dashboard"></i>
                        <span>Projects</span>
                        <span class="pull-right-container"></span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            <section class="content container-fluid">
                <div class="box box-primary" style="width:950px">
                    <div class="box-header with-border">
                        <h3 class="box-title">User edition</h3>
                    </div>
                    <form role="form" th:action="@{/user-edition}" th:object="${user}" method="post">
                        <div class="box-body">
                            <table style="height: 588px;" width="862">
                                <tbody>
                                <tr>
                                    <td style="width: 350px;">&nbsp;
                                        <div class="form-group has-feedback">
                                            <label>User name</label>
                                            <h3>
                                                <small style="color:#a31515; font-family: Times, serif; font-weight:bold;"
                                                       th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">
                                                </small>
                                            </h3>
                                            <input type="text" class="form-control" th:field="*{userName}"/>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label>User surname</label>
                                            <h3>
                                                <small style="color: #a31515;font-family: Times, serif; font-weight: bold;"
                                                       th:if="${#fields.hasErrors('userSurname')}"
                                                       th:errors="*{userSurname}">
                                                </small>
                                            </h3>
                                            <input type="text" class="form-control" th:field="*{userSurname}"/>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label>Enter login:</label>
                                            <h3>
                                                <small style="color: #a31515;font-family: Times, serif; font-weight: bold; "
                                                       th:if="${#fields.hasErrors('login')}" th:errors="*{login}">
                                                </small>
                                            </h3>
                                            <input type="text" class="form-control" th:field="*{login}"/>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label for="exampleInputPassword1">Password</label>
                                            <h3>
                                                <small style="color: #a31515;font-family: Times, serif; font-weight: bold;"
                                                       th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                                </small>
                                            </h3>
                                            <input type="password" th:field="*{password}" class="form-control"
                                                   id="exampleInputPassword1"
                                                   placeholder="Enter password"/>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label>Project name</label>
                                            <select th:field="*{project}" class="form-control select2"
                                                    style="width: 100%;">
                                                <option th:each="projectId:${projects}"
                                                        th:value="${projectId.projectId}"
                                                        th:text="${projectId.projectName}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label>Position</label>
                                            <select th:field="*{position}" class="form-control select2"
                                                    style="width: 100%;">
                                                <option th:each="position:${positions}"
                                                        th:value="${position.positionId}"
                                                        th:text="${position.positionName}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label>Qualification</label>
                                            <select th:field="*{qualification}" class="form-control select2"
                                                    style="width: 100%;">
                                                <option th:each="qualification:${qualifications}"
                                                        th:value="${qualification.qualificationId}"
                                                        th:text="${qualification.qualificationName}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label>Project role</label>
                                            <select th:field="*{projectRole}" class="form-control select2"
                                                    style="width: 100%;">
                                                <option th:value="0"></option>
                                                <option th:each="projectRole:${projectRoles}"
                                                        th:value="${projectRole.projectRoleId}"
                                                        th:text="${projectRole.projectRoleName}">
                                                </option>
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width: 70px;"></td>
                                    <td style="width: 300px; vertical-align: top">&nbsp;
                                        <div class="form-group has-feedback" style="high:400px">
                                            <h3 class="box-title">Contact information</h3>
                                            <div class="form-group has-feedback">
                                                <label>Work phone:</label>
                                                <input type="text" class="form-control"/>
                                                <span class="glyphicon glyphicon-phone-alt form-control-feedback"></span>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <h3>
                                                    <small style="color: #a31515;font-family: Times, serif; font-weight: bold;"
                                                           th:if="${#fields.hasErrors('eMail')}" th:errors="*{eMail}">
                                                    </small>
                                                </h3>
                                                <label for="exampleInputEmail1">Work e-mail </label>
                                                <input type="email" class="form-control"
                                                       id="exampleInputEmail1"/>
                                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <div class="form-group">
                                                    <label>Fax:</label>
                                                    <input type="text" class="form-control"/>
                                                    <span class="glyphicon glyphicon-print form-control-feedback"></span>
                                                </div>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <div class="form-group">
                                                    <label>Private phone:</label>
                                                    <input type="text" class="form-control"/>
                                                    <span class="glyphicon glyphicon-phone-alt form-control-feedback"></span>
                                                </div>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <h3>
                                                    <small style="color: #a31515;font-family: Times, serif; font-weight: bold;"
                                                           th:if="${#fields.hasErrors('eMail')}" th:errors="*{eMail}">
                                                    </small>
                                                </h3>
                                                <label for="exampleInputEmail1">Private e-mail </label>
                                                <input type="email" class="form-control"
                                                       id="exampleInputEmail1"/>
                                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width: 70px;"></td>
                                    <td style="width: 300px; vertical-align: top">&nbsp;
                                        <div class="form-group has-feedback" style="high:400px">
                                            <h3 class="box-title">Location</h3>
                                            <div class="form-group has-feedback">
                                                <label>Country</label>
                                                <input type="text"  class="form-control"/>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label>City</label>
                                                <input type="text"  class="form-control"/>
                                                <span class="glyphicon glyphicon-map-marker form-control-feedback"></span>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label >Street</label>
                                                <input type="text" class="form-control"/>
                                                <span class=" 	glyphicon glyphicon-road form-control-feedback"></span>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label>House number</label>
                                                <input type="text" class="form-control"/>
                                                <span class="glyphicon glyphicon-home form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p>&nbsp;</p>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </section>
    </div>
</div>

<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/dist/js/adminlte.min.js}"></script>

</body>
</html>