<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Edit user</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/font_awesome/css/font_awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/Ionicons/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/iCheck/square/blue.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all_skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/morris.js/morris.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/jvectormap/jquery_jvectormap.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap_datepicker/dist/css/bootstrap_datepicker.min.css}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <div class="content-wrapper">
        <section class="content-header">
            <section class="content container-fluid">
                <div class="box box-primary" style="width:950px">
                    <div class="box-header with-border">
                        <h3 class="box-title">User edition</h3>
                    </div>
                    <form role="form" th:action="@{/user-edition/{id}(id=${id})}" th:object="${user}" method="post">
                        <div class="box-body">
                            <table style="height: 588px;" width="862">
                                <tbody>
                                <tr>
                                    <td style="width: 350px;">&nbsp;
                                        <div class="form-group has-feedback">
                                            <label>User name</label>
                                            <h3>
                                                <small style="color:#a31515; font-family: Times, serif; font-weight:bold;"
                                                       th:if="${#fields.hasErrors('user.userName')}" th:errors="*{user.userName}">
                                                </small>
                                            </h3>
                                            <input type="text" class="form-control" th:field="*{user.userName}"/>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label>User surname</label>
                                            <h3>
                                                <small style="color: #a31515;font-family: Times, serif; font-weight: bold;"
                                                       th:if="${#fields.hasErrors('user.userSurname')}"
                                                       th:errors="*{user.userSurname}">
                                                </small>
                                            </h3>
                                            <input type="text" class="form-control" th:field="*{user.userSurname}"/>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label>Enter login:</label>
                                            <h3>
                                                <small style="color: #a31515;font-family: Times, serif; font-weight: bold; "
                                                       th:if="${#fields.hasErrors('user.login')}" th:errors="*{user.login}">
                                                </small>
                                            </h3>
                                            <input type="text" class="form-control" th:field="*{user.login}"/>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label for="exampleInputPassword1">Password</label>
                                            <h3>
                                                <small style="color: #a31515;font-family: Times, serif; font-weight: bold;"
                                                       th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}">
                                                </small>
                                            </h3>
                                            <input type="password" th:field="*{user.password}" class="form-control"
                                                   id="exampleInputPassword1"
                                                   placeholder="Enter password"/>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label>Project name</label>
                                            <select th:field="*{user.project}" class="form-control select2"
                                                    style="width: 100%;">
                                                <option th:each="projectId:${projects}"
                                                        th:value="${projectId.projectId}"
                                                        th:text="${projectId.projectName}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label>Position</label>
                                            <select th:field="*{user.position}" class="form-control select2"
                                                    style="width: 100%;">
                                                <option th:each="position:${positions}"
                                                        th:value="${position.positionId}"
                                                        th:text="${position.positionName}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label>Qualification</label>
                                            <select th:field="*{user.qualification}" class="form-control select2"
                                                    style="width: 100%;">
                                                <option th:each="qualification:${qualifications}"
                                                        th:value="${qualification.qualificationId}"
                                                        th:text="${qualification.qualificationName}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label>Project role</label>
                                            <select th:field="*{user.projectRole}" class="form-control select2"
                                                    style="width: 100%;">
                                                <option th:each="projectRole:${projectRoles}"
                                                        th:value="${projectRole.projectRoleId}"
                                                        th:text="${projectRole.projectRoleName}">
                                                </option>
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width: 70px;">
                                        <input type="hidden" th:field="*{user.userId}"/>
                                        <input type="hidden" th:field="*{user.userStatus.statusId}"/>
                                        <input type="hidden" th:field="*{user.userRole.roleId}"/>
                                        <input type="hidden" th:field="*{userContact.contactId}"/>
                                    </td>
                                    <td style="width: 300px; vertical-align: top">&nbsp;
                                        <div class="form-group has-feedback" style="high:400px">
                                            <h3 class="box-title">Contact information</h3>
                                            <div class="form-group has-feedback">
                                                <label>Work phone:</label>
                                                <input type="text" class="form-control" th:field="*{userContact.workPhone}"/>
                                                <span class="glyphicon glyphicon-phone-alt form-control-feedback"></span>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label for="exampleInputEmail1">Work e-mail </label>
                                                <input type="email" class="form-control" th:field="*{userContact.workEmail}"
                                                       id="exampleInputEmail1"/>
                                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <div class="form-group">
                                                    <label>Fax:</label>
                                                    <input type="text" class="form-control" th:field="*{userContact.fax}"/>
                                                    <span class="glyphicon glyphicon-print form-control-feedback"></span>
                                                </div>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <div class="form-group">
                                                    <label>Private phone:</label>
                                                    <input type="text" class="form-control" th:field="*{userContact.privatePhone}"/>
                                                    <span class="glyphicon glyphicon-phone-alt form-control-feedback"></span>
                                                </div>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label for="exampleInputEmail1">Private e-mail </label>
                                                <input type="email" class="form-control" th:field="*{userContact.privateEmail}"
                                                       id="exampleInputEmail1"/>
                                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width: 70px;"></td>
                                    <td style="width: 300px; vertical-align: top">&nbsp;
                                        <div class="form-group has-feedback" style="high:400px">
                                            <h3 class="box-title">Location</h3>
                                            <div class="form-group has-feedback">
                                                <label>Country</label>
                                                <input type="text" class="form-control" th:field="*{userContact.country}"/>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label>City</label>
                                                <input type="text"  class="form-control"  th:field="*{userContact.city}"/>
                                                <span class="glyphicon glyphicon-map-marker form-control-feedback"></span>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label >Street</label>
                                                <input type="text" class="form-control" th:field="*{userContact.street}"/>
                                                <span class=" 	glyphicon glyphicon-road form-control-feedback"></span>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label>House number</label>
                                                <input type="text" class="form-control" th:field="*{userContact.houseNumber}"/>
                                                <span class="glyphicon glyphicon-home form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p>&nbsp;</p>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </section>
    </div>
</div>

</body>
</html>