<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>All tasks</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/font_awesome/css/font_awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/Ionicons/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/iCheck/square/blue.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all_skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/morris.js/morris.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/jvectormap/jquery_jvectormap.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap_datepicker/dist/css/bootstrap_datepicker.min.css}"/>
    <script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/pashaJs/selectorFiltering.js}"></script>
    <script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <div class="content-wrapper">
        <section class="content-header">
            <section class="content container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <table style="height: 53px;" width="92%">
                                    <tbody>
                                    <tr>
                                        <td style="width: 211;">
                                            <h3 class="box-title">My tasks</h3>
                                        </td>
                                        <td style="width: 211px;">
                                            <div class="form-group has-feedback">
                                                <label>Priority</label>
                                                <select id="prioritySelector" class="form-control select2"
                                                        style="width: 100%;">
                                                    <option value="0"></option>
                                                    <option>Low</option>
                                                    <option>Normal</option>
                                                    <option>High</option>
                                                    <option>Critical</option>
                                                    <option>Major</option>
                                                    <option>Minor</option>
                                                    <option>Fire</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td style="width: 25px;"></td>
                                        <td style="width: 211px;">
                                            <div class="form-group has-feedback">
                                                <label>Status</label>
                                                <select id="statusSelector" class="form-control select2"
                                                        style="width: 100%;">
                                                    <option value="0"></option>
                                                    <option>Open</option>
                                                    <option>Reopen</option>
                                                    <option>On hold</option>
                                                    <option>In progress</option>
                                                    <option>Resolved</option>
                                                    <option>Closed</option>
                                                    <option>Implemented</option>
                                                    <option>Ready for testing</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="box-body table-responsive no-padding">
                                <table id="example1" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Name</th>
                                        <th>Estimation date</th>
                                        <th></th>
                                        <th>Priority</th>
                                        <th>Status</th>
                                        <th>Progress</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="myTable">
                                    <tr th:each="task:${taskList}">
                                        <th th:text="${task.id}" style="font-weight: normal"></th>
                                        <th th:text="${task.taskName}" style="font-weight: normal"></th>
                                        <th th:text="${task.estimation}" style="font-weight: normal"></th>
                                        <th th:switch="${task.taskPriority.priorityName}">
                                            <div th:case="'Normal'">
                                                <span class="glyphicon glyphicon-unchecked"
                                                      style="color:darkgreen"></span>
                                            </div>
                                            <div th:case="'Critical'">
                                                <span class="glyphicon glyphicon-circle-arrow-up"
                                                      style="color:red;"></span>
                                            </div>
                                            <div th:case="'Minor'">
                                                <span class="glyphicons glyphicons-disk-save" style="color: limegreen;"></span>
                                            </div>
                                            <div th:case="'Major'">
                                                <span class="glyphicons glyphicons-electricity"
                                                      style="color:orange;"></span>
                                            </div>
                                            <div th:case="'Fire'">
                                                    <span class="glyphicon glyphicon-fire"
                                                          style="color:#aa1111;"></span>
                                            </div>
                                            <div th:case="'Low'">
                                                <span class="glyphicon glyphicon-circle-arrow-down"
                                                      style="color:#0b58a2"></span>
                                            </div>
                                            <div th:case="'High'">
                                                    <span class="glyphicon glyphicon-arrow-up"
                                                          style="color:#660e7a;"></span>
                                            </div>
                                        </th>
                                        <th th:text="${task.taskPriority.priorityName}"
                                            style="font-weight: normal"></th>
                                        <th th:switch="${task.taskStatus.statusName}" style="font-weight: normal">
                                            <div th:case="'Open'"><span class="label label-primary"
                                                                        th:text="${task.taskStatus.statusName}"></span>
                                            </div>
                                            <div th:case="'Reopen'"><span class="label label-danger"
                                                                          th:text="${task.taskStatus.statusName}"></span>
                                            </div>
                                            <div th:case="'On hold'"><span class="label label-warning"
                                                                           th:text="${task.taskStatus.statusName}"></span>
                                            </div>
                                            <div th:case="'In progress'"><span class="label label-warning"
                                                                               th:text="${task.taskStatus.statusName}"></span>
                                            </div>
                                            <div th:case="'Closed'"><span class="label label-success"
                                                                          th:text="${task.taskStatus.statusName}"></span>
                                            </div>
                                            <div th:case="'Implemented'"><span class="label label-success"
                                                                               th:text="${task.taskStatus.statusName}"></span>
                                            </div>
                                            <div th:case="'Ready for testing'"><span class="label label-success"
                                                                                     th:text="${task.taskStatus.statusName}"></span>
                                            </div>
                                            <div th:case="'Resolved'">
                                                    <span class="label label-success" style="height: 40px; width: 150px"
                                                          th:text="${task.taskStatus.statusName}"></span>
                                            </div>
                                        </th>
                                        <th>
                                            <div th:if="${task.percentage &lt; 30 AND task.percentage &gt;10}">
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar progress-bar-primary"
                                                         style="width: 20%"></div>
                                                </div>
                                            </div>
                                            <div th:if="${task.percentage &lt; 50 AND task.percentage &gt;30}">
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar progress-bar-danger"
                                                         style="width: 50%"></div>
                                                </div>
                                            </div>
                                            <div th:if="${task.percentage &lt; 70 AND task.percentage &gt; 50}">
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar progress-bar-yellow"
                                                         style="width: 70%"></div>
                                                </div>
                                            </div>
                                            <div th:if="${task.percentage&gt;70}">
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar progress-bar-success"
                                                         style="width: 90%"></div>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div th:if="${task.percentage == 0}">
                                                <span class="badge bg-red">0%</span>
                                            </div>
                                            <div th:if="${task.percentage &lt; 30 AND task.percentage &gt;10}">
                                                <span class="badge bg-light-blue" th:text="${task.percentage}"></span>
                                            </div>
                                            <div th:if="${task.percentage &lt; 50 AND task.percentage &gt;30}">
                                                <span class="badge bg-red" th:text="${task.percentage}"></span>
                                            </div>
                                            <div th:if="${task.percentage &lt; 70 AND task.percentage &gt; 50}">
                                                <span class="badge bg-yellow" th:text="${task.percentage}"></span>
                                            </div>
                                            <div th:if="${task.percentage&gt;70}">
                                                <span class="badge bg-green" th:text="${task.percentage}"></span>
                                            </div>
                                        </th>
                                        <th width="100">
                                            <button type="button" class="btn btn-primary btn-md"
                                                    th:onclick="|window.location.href='/profile/task-edition/${task.id}'|">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                                <span>Edit</span>
                                            </button>
                                        </th>
                                        <th width="100">
                                            <button type="button" class="btn btn-primary btn-md"
                                                    th:onclick="|window.location.href='/profile/${currentUser.userId}/task/${task.id}'|">
                                                <span class="glyphicon glyphicon-info-sign"></span>
                                                <span>Info</span>
                                            </button>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>

</body>
</html>