<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>All users</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/font_awesome/css/font_awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/Ionicons/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/iCheck/square/blue.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all_skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/morris.js/morris.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/jvectormap/jquery_jvectormap.css}"/>
    <link rel="stylesheet"
          th:href="@{/bower_components/bootstrap_datepicker/dist/css/bootstrap_datepicker.min.css}"/>

    <script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/dist/js/adminlte.min.js}"></script>
    <script th:src="@{/dist/js/demo.js}"></script>
    <script th:src="@{/plugins/bootstrap_wysihtml5/bootstrap3_wysihtml5.all.min.js}"></script>
    <script th:src="@{/bower_components/fastclick/lib/fastclick.js}"></script>
    <script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{plugins/iCheck/icheck.min.js}"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="#" class="logo">
            <span class="logo-lg"><b>Task</b>Tracker</span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/dist/img/user2-160x160.jpg" class="user-image"/>
                            <span class="hidden-xs"
                                  th:text="${currentUser.userName}+' '+${currentUser.userSurname}"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="/dist/img/user2-160x160.jpg" class="img-circle"/>
                                <p th:text="${currentUser.userName}+' '+${currentUser.userSurname}"></p>
                                <p th:text="${qualification.qualificationName}+' '+${position.positionName}"></p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a th:onclick="|window.location.href='/profile/${currentUser.userId}'|"
                                       class="btn btn-default btn-flat">My profile</a>
                                </div>
                                <div class="pull-right">
                                    <a th:href="@{/logout}" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div sec:authorize="hasRole('ROLE_USER')">
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li>
                        <a th:onclick="|window.location.href='/project/${currentUser.project.projectId}'|">
                            <i class="fa fa-share"></i> <span>My Project</span>
                        </a>
                    </li>
                    <li>
                        <a th:onclick="|window.location.href='/profile/${currentUser.userId}/my-team'|">
                            <i class="fa fa-share"></i> <span>My team</span>
                        </a>
                    </li>
                    <!-- todo:  add  dashboards somewhere-->
                    <li class="treeview">
                        <a>
                            <i class="fa fa-table"></i> <span>Dashboards</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a th:onclick="|window.location.href='/profile/${currentUser.userId}/user-statistics'|">
                                    <i class="fa fa-share"></i> <span>Create new</span>
                                </a>
                            </li>
                            <li>
                                <a th:onclick="|window.location.href='/profile/${currentUser.userId}/user-statistics'|">
                                    <i class="fa fa-share"></i> <span>View all</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a>
                            <i class="fa fa-share"></i> <span>Manage tasks</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a th:onclick="|window.location.href='/profile/task-creation/${currentUser.userId}'|">
                                    <i class="fa fa-share"></i> <span>Create new</span>
                                </a>
                            </li>
                            <li>
                                <a th:onclick="|window.location.href='/profile/my-tasks/${currentUser.userId}'|">
                                    <i class="fa fa-share"></i> <span>My tasks</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a>
                            <i class="fa fa-table"></i> <span>Statistics</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a th:onclick="|window.location.href='/profile/${currentUser.userId}/user-statistics'|">
                                    <i class="fa fa-share"></i> <span>My statistics</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
    </div>

    <div class="content-wrapper">
        <section class="content-header">
            <section class="content container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3>
                                    <small style="color:#a31515; font-family: Times, serif; font-weight:bold;"
                                           th:if="${userList.isEmpty()}" th:errors="*{userList}">
                                    </small>
                                </h3>

                                <h3 class="box-title">All users</h3>
                            </div>
                            <div class="box-body table-responsive no-padding">
                                <table id="example1" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Surname</th>
                                        <th>Project</th>
                                        <th>Post</th>
                                        <th>Project role</th>
                                        <th>Country</th>
                                        <th>City</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user:${userList}">
                                        <th th:text="${user.userName}" style="font-weight: normal"></th>
                                        <th th:text="${user.userSurname}" style="font-weight: normal"></th>
                                        <th th:text="${user.project.projectName}" style="font-weight: normal"></th>
                                        <th th:text="${user.qualification.qualificationName}+' '+${user.position.positionName}"
                                            style="font-weight: normal"></th>
                                        <th style="font-weight: normal"
                                            th:text="${user.projectRole.projectRoleName}"></th>
                                        <th style="font-weight: normal" th:text="${user.userContact.countryName}"></th>
                                        <th style="font-weight: normal" th:text="${user.userContact.cityName}"></th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>


<script>
    $(function () {
        $('#example1').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": false,
            "autoWidth": true
        });
    });


</script>
</body>
</html>