<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Project</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/font_awesome/css/font_awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/Ionicons/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/iCheck/square/blue.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all_skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/morris.js/morris.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/jvectormap/jquery_jvectormap.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap_datepicker/dist/css/bootstrap_datepicker.min.css}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="#" class="logo">
            <span class="logo-lg"><b>Dash</b>Bord</span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/dist/img/user2-160x160.jpg" class="user-image"/>
                            <span class="hidden-xs"
                                  th:text="${currentUser.userName}+' '+${currentUser.userSurname}"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="/dist/img/user2-160x160.jpg" class="img-circle"/>
                                <p th:text="${currentUser.userName}+' '+${currentUser.userSurname}"></p>
                                <p th:text="${qualification.qualificationName}+' '+${position.positionName}"></p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a th:onclick="|window.location.href='/profile/${currentUser.userId}'|"
                                       class="btn btn-default btn-flat">My profile</a>
                                </div>
                                <div class="pull-right">
                                    <a th:href="@{/login}" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li>
                    <a th:href="@{/homePage}">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                        <span class="pull-right-container"></span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/allUsersPage}">
                        <i class="fa fa-dashboard"></i>
                        <span>Profiles</span>
                        <span class="pull-right-container"></span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/allProjectsPage}">
                        <i class="fa fa-dashboard"></i>
                        <span>Projects</span>
                        <span class="pull-right-container"></span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Project profile
            </h1>
        </section>


        <section class="content">
            <div class="col-md-9">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <i class="fa fa-text-width"></i>
                        <div class="box box-primary">
                            <div class="box-body box-profile">
                                <h3 class="box-title" th:text="${project.projectName}"></h3>
                                <table style="height: 341px; width: 852px;">
                                    <tbody>
                                    <tr style="height: 125px;">
                                        <td style="width: 312px; height: 125px;">
                                            <table style="height: 143px; width: 322px;">
                                                <tbody>
                                                <tr style="height: 14px;">
                                                    <td style="width: 312px;  height: 27px;"><strong><i
                                                            class="fa fa-book margin-r-5"></i>Main aim:</strong></td>
                                                </tr>
                                                <tr style="height: 29px;">
                                                    <td style="width: 312px; height: 29px;vertical-align: top"
                                                        th:text="${project.mainAim}">
                                                        &nbsp;</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td style="width: 398px; height: 125px;">
                                            <table style="height: 139px; width: 412px;">
                                                <tbody>
                                                <tr style="height: 34.75px;">
                                                    <td style="width: 395px; height: 34.75px;" colspan="2">
                                                        Contact information
                                                    </td>
                                                </tr>
                                                <tr style="height: 27px;">
                                                    <td style="width: 122.833px; height: 27px;"><strong><i
                                                            class="fa fa-book margin-r-5"></i>Office e-mail:</strong></td>
                                                    <td style="width: 272.167px; height: 27px;"
                                                        th:text="${projectContact.officeEmail}">
                                                     &nbsp;</td>
                                                </tr>
                                                <tr style="height: 27px;">
                                                    <td style="width: 122.833px; height: 27px;"><strong><i
                                                            class="fa fa-book margin-r-5"></i>Office phone:</strong></td>
                                                    <td style="width: 272.167px; height: 27px;"
                                                        th:text="${projectContact.officePhone}">&nbsp;</td>
                                                </tr>
                                                <tr style="height: 27px;">
                                                    <td style="width: 122.83 px; height: 27px;"><strong><i
                                                            class="fa fa-book margin-r-5"></i>Fax:</strong></td>
                                                    <td style="width: 272.167 px; height: 27px;"
                                                        th:text="${projectContact.fax}">&nbsp;</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr style="height: 81px;">
                                        <td style="width: 312px; height: 81px;">
                                            <table style="height: 131px;" width="323">
                                                <tbody>
                                                <tr style="height: 38px;">
                                                    <td style="width: 313px; height: 27px;"><strong><i
                                                            class="fa fa-book margin-r-5"></i>Description:</strong></td>
                                                </tr>
                                                <tr style="height: 48.5px;">
                                                    <td style="width: 313px; height: 48.5px; vertical-align: top"
                                                        th:text="${project.description}">
                                                        &nbsp;</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td style="width: 398px; height: 81px;">
                                            <table style="height: 127px;" width="413">
                                                <tbody>
                                                <tr style="height: 36px;">
                                                    <td style="width: 403px; height: 30px;">Location</td>
                                                </tr>
                                                <tr style="height: 34px;">
                                                    <td style="width: 403px; height: 30px;"
                                                        th:text="${projectContact.country}+' '+${projectContact.city}"></td>
                                                </tr>
                                                <tr style="height: 37px;">
                                                    <td style="width: 403px; height: 30px;"
                                                        th:text="${projectContact.street}+' '+${projectContact.houseNumber}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr style="height: 208px;">
                                        <td style="width: 710px; height: 208px;" colspan="2">
                                            <table style="height: 209px;" width="673">
                                                <tbody>
                                                <tr style="height: 23.75px;">
                                                    <td style="width: 663px; height: 30px;">People</td>
                                                </tr>
                                                <tr style="height: 96px;">
                                                    <td style="width: 663px; height: 96px;">&nbsp;</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>

