<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Project</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="import" th:href="@{main.html}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Project profile
            </h1>
        </section>


        <section class="content">
            <div class="col-md-7">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <i class="fa fa-text-width"></i>
                        <div class="box box-primary">
                            <div class="box-body box-profile">
                                <h3 class="box-title" th:text="${project.projectName}"></h3>
                                <table style="height: 341px; width: 852px;">
                                    <tbody>
                                    <tr style="height: 125px;">
                                        <td style="width: 312px; height: 125px;">
                                            <table style="height: 143px; width: 322px;">
                                                <tbody>
                                                <tr style="height: 14px;">
                                                    <td style="width: 312px;  height: 27px;"><strong><i
                                                            class="fa fa-book margin-r-5"></i>Main aim:</strong></td>
                                                </tr>
                                                <tr style="height: 29px;">
                                                    <td style="width: 312px; height: 29px;vertical-align: top"
                                                        th:text="${project.mainAim}">
                                                        &nbsp;</td>
                                                </tr>
                                                </tr>
                                                <tr style="width: 312px;  height: 27px;">
                                                    <td style="width: 312px; height: 29px; vertical-align: top;"><strong><i>
                                                        Deadline:</i></strong></td>
                                                </tr>
                                                <tr style="width: 312px; height: 29px;vertical-align: top">
                                                    <td style="width: 312px; height: 29px; vertical-align: top;"
                                                    th:text ="${project.deadLine}">&nbsp;</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td style="width: 398px; height: 125px;">
                                            <table style="height: 139px; width: 412px;">
                                                <tbody>
                                                <tr style="height: 34.75px;">
                                                    <td style="width: 395px; height: 34.75px;" colspan="2">
                                                        Contact information
                                                    </td>
                                                </tr>
                                                <tr style="height: 27px;">
                                                    <td style="width: 122.833px; height: 27px;"><strong><i
                                                            class="fa fa-book margin-r-5"></i>Office e-mail:</strong></td>
                                                    <td style="width: 272.167px; height: 27px;"
                                                        th:text="${projectContact.officeEmail}">
                                                     &nbsp;</td>
                                                </tr>
                                                <tr style="height: 27px;">
                                                    <td style="width: 122.833px; height: 27px;"><strong><i
                                                            class="fa fa-book margin-r-5"></i>Office phone:</strong></td>
                                                    <td style="width: 272.167px; height: 27px;"
                                                        th:text="${projectContact.officePhone}">&nbsp;</td>
                                                </tr>
                                                <tr style="height: 27px;">
                                                    <td style="width: 122.83 px; height: 27px;"><strong><i
                                                            class="fa fa-book margin-r-5"></i>Fax:</strong></td>
                                                    <td style="width: 272.167 px; height: 27px;"
                                                        th:text="${projectContact.fax}">&nbsp;</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr style="height: 81px;">
                                        <td style="width: 312px; height: 81px;">
                                            <table style="height: 131px;" width="323">
                                                <tbody>
                                                <tr style="height: 38px;">
                                                    <td style="width: 313px; height: 27px;"><strong><i
                                                            class="fa fa-book margin-r-5"></i>Description:</strong></td>
                                                </tr>
                                                <tr style="height: 48.5px;">
                                                    <td style="width: 313px; height: 48.5px; vertical-align: top"
                                                        th:text="${project.description}">
                                                        &nbsp;</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td style="width: 398px; height: 81px;">
                                            <table style="height: 127px;" width="413">
                                                <tbody>
                                                <tr style="height: 36px;">
                                                    <td style="width: 403px; height: 30px;">Location</td>
                                                </tr>
                                                <tr style="height: 34px;">
                                                    <td style="width: 403px; height: 30px;"
                                                        th:text="${projectContact.country}+', '+${projectContact.city}"></td>
                                                </tr>
                                                <tr style="height: 37px;">
                                                    <td style="width: 403px; height: 30px;"
                                                        th:text="${projectContact.street}+',  '+${projectContact.houseNumber}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr style="height: 208px;">
                                        <td style="width: 710px; height: 208px;" colspan="2">
                                            <table style="height: 209px;" width="673">
                                                <tbody>
                                                <tr style="height: 23.75px;">
                                                    <td style="width: 663px; height: 30px;">People</td>
                                                </tr>
                                                <tr style="height: 96px;">
                                                    <td style="width: 663px; height: 96px;">&nbsp;
                                                        <div class="box-body table-responsive no-padding">
                                                            <table id="example1" class="table table-hover">
                                                                <thead>
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th>Surname</th>
                                                                    <th>Post</th>
                                                                    <th>Location</th>
                                                                    <th></th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr th:each="user:${userList}">
                                                                    <th th:text="${user.userName}" style="font-weight: normal"></th>
                                                                    <th th:text="${user.userSurname}" style="font-weight: normal"></th>
                                                                    <th th:text="${user.qualification.qualificationName}+' '+${user.position.positionName}"
                                                                        style="font-weight: normal"></th>
                                                                    <th th:text="${user.userContact.country}+', '+${user.userContact.city}" style="font-weight: normal"></th>
                                                                    <th width="100">
                                                                        <button type="button" class="btn btn-primary btn-md"


                                                                                th:onclick="|window.location.href='/profile/${user.userId}'|">


                                                                            <span class="glyphicon glyphicon-info-sign"></span>
                                                                            <span>Info</span>
                                                                        </button>
                                                                    </th>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td style="width: 710px; height: 208px;" colspan="2">
                                        <td style="width: 710px; height: 208px;" colspan="2">
                                            <table style="height: 209px;" width="673">
                                                <tbody>
                                                <tr style="height: 23.75px;">
                                                    <td style="width: 663px; height: 30px;">Dashboards</td>
                                                </tr>
                                                <tr style="height: 96px;">
                                                    <td style="width: 663px; height: 96px;">&nbsp;
                                                        <div class="box-body table-responsive no-padding">
                                                            <table id="example1" class="table table-hover">
                                                                <thead>
                                                                <tr>
                                                                    <th>№</th>
                                                                    <th>Name</th>
                                                                    <th>Priority</th>
                                                                    <th>Status</th>
                                                                    <th>Reporter</th>
                                                                    <th></th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr th:each="dashboard:${dashboardList}">
                                                                    <th th:text="${dashboard.dashboardId}" style="font-weight: normal"></th>
                                                                    <th th:text="${dashboard.dashboardName}" style="font-weight: normal"></th>
                                                                    <th th:text="${dashboard.status.statusName}" style="font-weight: normal"></th>
                                                                    <th th:text="${dashboard.priority.priorityName}" style="font-weight: normal"></th>
                                                                    <th></th>
                                                                    <th width="100">
                                                                        <button type="button" class="btn btn-primary btn-md"


                                                                                th:onclick="|window.location.href='/profile/${user.userId}'|">


                                                                            <span class="glyphicon glyphicon-info-sign"></span>
                                                                            <span>Info</span>
                                                                        </button>
                                                                    </th>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>

