<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Registration</title>
	<link rel="stylesheet" type="text/css" href="./css/register_style.css">
</head>

<body>
    <div id="signup-form">
        <div id="signup-inner">
        	<div class="clearfix" id="header">
               <form id="send" action="">
                <label for="name">Your Name</label>
                <input id="name" type="text" name="name" value="" />

                <label for="name">Your Surname</label>
                <input id="surname" type="text" name="surname" value="" />

                <label for="email">Email</label>
                <input id="email" type="text" name="email" value="" />

                <label for="phone">Phone</label>
                <input id="phone" type="text" name="phone" value="" />

                <label for="country">Country</label>
                <input id="Country" type="text" name="country" value="" />
                <button id="submit" type="submit">Submit</button>

            </form>
        </div>
     </div>
    </div>
</body>
</html>
