<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Task</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/font_awesome/css/font_awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/Ionicons/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/iCheck/square/blue.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all_skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/morris.js/morris.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/jvectormap/jquery_jvectormap.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap_datepicker/dist/css/bootstrap_datepicker.min.css}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <a href="#" class="logo">
            <span class="logo-lg"><b>Dash</b>Bord</span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/dist/img/user2-160x160.jpg" class="user-image"/>
                            <span class="hidden-xs"
                                  th:text="${currentUser.userName}+' '+${currentUser.userSurname}"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="/dist/img/user2-160x160.jpg" class="img-circle"/>
                                <p th:text="${currentUser.userName}+' '+${currentUser.userSurname}"></p>
                                <p th:text="${qualification.qualificationName}+' '+${position.positionName}"></p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a th:href="@{profile/{id}(id=${currentUser.userId})}"
                                       class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a th:href="@{/login}" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li>
                    <a th:href="@{/homePage}">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                        <span class="pull-right-container"></span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header"></section>
        <section class="content container-fluid">
            <div class="col-md-6">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <i class="fa fa-text-width"></i>
                        <h3 class="box-title">Task description</h3>
                    </div>
                    <section class="content">
                        <h3 class="box-title" th:text="${task.taskName}"></h3>
                        <table id="description" style="height: 249px; width: 836px;">
                            <tbody>
                            <tr style="height: 106px;">
                                <td style="width: 814px; height: 106px;" colspan="2">
                                    <table style="height: 91px; width: 892px;">
                                        <tbody>
                                        <tr>
                                            <td style="width: 151px;">Priority</td>
                                            <td style="width: 245.767px;" th:text="${task.taskPriority}">&nbsp;</td>
                                            <td style="width: 223.233px;">Time spent, h</td>
                                            <td style="width: 241px;" th:text="${task.timeSpent}">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 151px;">Type</td>
                                            <td style="width: 245.767px;" th:text="${task.taskType}">&nbsp;</td>
                                            <td style="width: 223.233px;">Persentage, %</td>
                                            <td style="width: 241px;" th:text="${task.percentage}">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 151px;">Status</td>
                                            <td style="width: 245.767px;" th:text="${task.taskStatus}">&nbsp;</td>
                                            <td style="width: 223.233px;">&nbsp;</td>
                                            <td style="width: 241px;">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr style="height: 182.767px;">
                                <td style="width: 462px; height: 182.767px;">
                                    <table style="height: 98px; width: 410px;">
                                        <tbody>
                                        <tr>
                                            <td style="width: 146.767px;">Creator</td>
                                            <td style="width: 247.233px;" th:text="${task.creator}">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 146.767px;">Executor</td>
                                            <td style="width: 247.233px;" th:text="${task.executor}">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="width: 352px; height: 182.767px;">
                                    <table style="height: 103px;" width="476">
                                        <tbody>
                                        <tr>
                                            <td style="width: 230px;">Created</td>
                                            <td style="width: 230px;"  th:text="${task.created}">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 230px;">Updated</td>
                                            <td style="width: 230px;"  th:text="${task.updated}">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 230px;">Resolved</td>
                                            <td style="width: 230px;" th:text="${task.resolved}">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 230px;">Estimation</td>
                                            <td style="width: 230px;"  th:text="${task.estimation}">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>

                    </section>
                </div>

            </div>
        </section>
    </div>
    </section>
</div>
</div>

<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/dist/js/demo.js}"></script>

</body>
</html>