<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Registration</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dis/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/font_awesome/css/font_awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/Ionicons/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/iCheck/square/blue.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/morris.js/morris.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/jvectormap/jquery_jvectormap.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap_datepicker/dist/css/bootstrap_datepicker.min.css}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <a th:href="@{/starter.html}" class="logo">
            <span class="logo-lg"><b>Dash</b>Bord</span>
        </a>

    </header>
    <div class="content-wrapper">
        <section class="content-header">
        </section>
        <section class="content container-fluid">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Create new task</h3>
                </div>
                <form role="form" th:action="@{/task}" th:object="${task}" method="post">
                    <div class="box-body">
                        <div class="form-group has-feedback">
                            <label>Task name</label>
                            <input type="text" th:field="*{taskName}" class="form-control"  placeholder="Enter name"/>
                        </div>
                        <div class="form-group has-feedback">
                            <label >Assigned User</label>
                            <input type="text" th:field="*{executor}" class="form-control" placeholder="Enter user name"/>
                        </div>
                        <div class="form-group has-feedback">
                            <label>Priority</label>
                            <select th:field="*{taskPriority}" class="form-control select2" style="width: 100%;">
                                <option th:each = "taskPriority:${taskPriorities}"
                                        th:value="${taskPriority}"
                                        th:text="${taskPriority.priorityName}" selected="selected">LOW</option>
                                <!--  <option th:value="Normal">Normal</option>
                                  <option th:value="High">High</option>
                                  <option th:value="Critical">Critical</option>
                                  <option th:value="Major">Major</option>
                                  <option th:value="Minor">Minor</option>
                                  <option th:value="FIRE">FIRE</option>-->
                            </select>
                        </div>
                        <div class="form-group has-feedback">
                            <label>Type</label>
                            <select  th:field="*{taskType}"  class="form-control select2" style="width: 100%;">
                                <option th:each="taskType:${taskTypes}"
                                        th:value="${taskType}"
                                        th:text="${taskType.typeName}" selected="selected">Dev Task</option>
                            </select>
                        </div>
                        <div class="form-group has-feedback">
                            <label>Description</label>
                            <div class="form-group">
                                <label>Textarea</label>
                                <input type="text" th:field="*{description}" class="form-control"  placeholder="Enter ..." />
                                \                        </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label>Start Date:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="date" th:field="*{startDate}" class="form-control pull-right"/>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <div class="form-group">
                                <label>Estimation Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="date" th:field="*{endDate}" class="form-control pull-right" />
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <div class="control-sidebar-bg"></div>

</div>

<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/dist/js/demo.js}"></script>

</body>
</html>