<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Task</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/font_awesome/css/font_awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/Ionicons/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/iCheck/square/blue.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all_skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/morris.js/morris.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/jvectormap/jquery_jvectormap.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap_datepicker/dist/css/bootstrap_datepicker.min.css}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <a href="#" class="logo">
            <span class="logo-lg"><b>Dash</b>Bord</span>
        </a>l

        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/dist/img/user2-160x160.jpg" class="user-image"/>
                            <span class="hidden-xs"
                                  th:text="${currentUser.userName}+' '+${currentUser.userSurname}"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="/dist/img/user2-160x160.jpg" class="img-circle"/>
                                <p th:text="${currentUser.userName}+' '+${currentUser.userSurname}"></p>
                                <p th:text="${qualification.qualificationName}+' '+${position.positionName}"></p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a th:href="@{profile/{id}(id=${currentUser.userId})}"
                                       class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a th:href="@{/login}" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li>
                    <a th:href="@{/homePage}">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                        <span class="pull-right-container"></span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header"></section>
        <section class="content container-fluid">
            <div class="col-md-11">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <i class="fa fa-text-width"></i>
                        <h3 class="box-title">Task description</h3>
                    </div>
                    <section class="content">
                        <h3 class="box-title" th:text="${task.taskName}"></h3>
                        <table style="height: 171px; width: 948px;">
                            <tbody>
                            <tr style="height: 30px;">
                                <td style="width: 456px; height: 30px;">
                                    <table style="height: 36px; width: 461px;">
                                        <tbody>
                                        <tr style="height: 33px;">
                                            <td style="width: 132.8px; height: 33px;"><strong><i class="fa fa-book margin-r-5"></i>Project:</strong></td>
                                            <td style="width: 310.2px; height: 33px;"
                                                th:text="${taskProject.projectName}">&nbsp;
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="width: 471px; height: 30px;">&nbsp;</td>
                            </tr>
                            <tr style="height: 68px;">
                                <td style="width: 456px; height: 68px;">
                                    <table style="height: 78px; width: 461px;">
                                        <tbody>
                                        <tr style="height: 19.9px;">
                                            <td style="width: 133.267px; height: 19.9px;"><strong><i class="fa fa-book margin-r-5"></i>Creator:</strong></td>
                                            <td style="width: 311.733px; height: 19.9px;"
                                                th:text="${creator.userName} +' '+${creator.userSurname}">&nbsp;
                                            </td>
                                        </tr>
                                        <tr style="height: 12px;">
                                            <td style="width: 133.267px; height: 12px;"><strong><i class="fa fa-book margin-r-5"></i>Executor:</strong></td>
                                            <td style="width: 311.733px; height: 12px;"
                                                th:text="${executor.userName} +' '+${executor.userSurname}">&nbsp;
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="width: 471px; height: 68px;">
                                    <table style="height: 144px; width: 382px;">
                                        <tbody>
                                        <tr>
                                            <td style="width: 134.133px;"><strong><i class="fa fa-book margin-r-5"></i>Created:</strong></td>
                                            <td style="width: 230.867px;" th:text="${task.created}">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 134.133px;"><strong><i class="fa fa-book margin-r-5"></i>Updated:</strong></td>
                                            <td style="width: 230.867px;" th:text="${task.updated}">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 134.133px;"><strong><i class="fa fa-book margin-r-5"></i>Resolved:</strong></td>
                                            <td style="width: 230.867px;" th:text="${task.resolved}">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 134.133px;"><strong><i class="fa fa-book margin-r-5"></i>Estimation:</strong></td>
                                            <td style="width: 230.867px;" th:text="${task.estimation}">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr style="height: 125.117px;">
                                <td style="width: 456px; height: 125.117px;">&nbsp;
                                    <table style="height: 108px; width: 459px;">
                                        <tbody>
                                        <tr style="height: 34.2px;">
                                            <td style="width: 133.25px; height: 34.2px;"><strong><i class="fa fa-book margin-r-5"></i>Priority:</strong></td>
                                            <td style="width: 305.75px; height: 34.2px;"
                                                th:text="${taskPriority.priorityName}">&nbsp;
                                            </td>
                                        </tr>
                                        <tr style="height: 37px;">
                                            <td style="width: 133.25px; height: 37px;"><strong><i class="fa fa-book margin-r-5"></i>Type:</strong></td>
                                            <td style="width: 305.75px; height: 37px;" th:text="${taskType.typeName}">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr style="height: 35px;">
                                            <td style="width: 133.25px; height: 35px;"><strong><i class="fa fa-book margin-r-5"></i>Status:</strong></td>
                                            <td style="width: 305.75px; height: 35px;"
                                                th:text="${taskStatus.statusName}">&nbsp;
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="width: 471px; height: 125.117px;">
                                    <table style="height: 92px; width: 473px;">
                                        <tbody>
                                        <tr>
                                            <td style="width: 135.5px;">&nbsp;
                                                <strong><i class="fa fa-book margin-r-5"></i>Time spent, h:</strong></td>
                                            <td style="width: 320.5px;" th:text="${task.timeSpent}">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 135.5px;">&nbsp;
                                                <strong><i class="fa fa-book margin-r-5"></i>Persentage, %:</strong></td>
                                            <td style="width: 320.5px;" th:text="${task.percentage}">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr style="height: 33px;">
                                <td style="width: 456px; height: 33px;">&nbsp;
                                    <strong><i class="fa fa-book margin-r-5"></i>Description</strong></td>
                                <td style="width: 471px; height: 33px;">&nbsp;</td>
                            </tr>
                            <tr style="height: 184px;">
                                <td style="width: 927px; height: 184px;" colspan="2">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                 </section>
                </div>
            </div>
        </section>
    </div>
</div>

<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/dist/js/demo.js}"></script>

</body>
</html>