<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Statistics</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="import" th:href="@{main.html}"/>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">



    <div class="content-wrapper">
        <section class="content-header">
            <h3>
                My statistics
            </h3>
            <table>
                <td>
                    <div class="box-body table-responsive no-padding">
                        <script src="https://www.google.com/jsapi"></script>
                        <script>
   google.load("visualization", "1", {packages:["corechart"]});
   google.setOnLoadCallback(drawChart);
   function drawChart() {
    var data = google.visualization.arrayToDataTable([
     ['Status', 'Tasks amount'],
     ['In progress',    3],
     ['On hold', 1],
     ['Resolved',    2],
     ['Closed',   4],
     ['open',    2]
     ]);
    var options = {
     title: 'Task statuses',
     is3D: true,
     pieResidueSliceLabel: 'Other'
    };
    var chart = new google.visualization.PieChart(document.getElementById('air'));
     chart.draw(data, options);
   }
                        </script>
                        <div id="air" style="width: 500px; height: 400px;"></div>
                    </div>
                </td>

                <td>
                    <div class="box-body table-responsive no-padding">
                        <script src="https://www.google.com/jsapi"></script>
                        <script>
   google.load("visualization", "1", {packages:["corechart"]});
   google.setOnLoadCallback(drawChart);
   function drawChart() {
    var data = google.visualization.arrayToDataTable([
     ['Priority', 'Tasks amount'],
     ['Normal',   2],
     ['Critical', 1],
     ['Low',    3],
     ['Major',   4]
     ]);
    var options = {
     title: 'Task priorities',
     is3D: true,
     pieResidueSliceLabel: 'Other'
    };
    var chart = new google.visualization.PieChart(document.getElementById('priority'));
     chart.draw(data, options);
   }  </script>
                        <div id="priority" style="width: 500px; height: 400px;"></div>
                    </div>

                </td>
            </table>
        </section>
    </div>
</div>

</body>
</html>